:root {
    --color1: #1A7CEF; // 答题时，字体/边框选中的颜色
    --color2: #F2F8FF; // 答题时，选中的背景颜色
    --color3: #1FCD8E; // 查看作答， 正确答案字体/边框的颜色
    --color4: #282c2a; // 查看作答， 正确答案的背景颜色
    --color5: #EB3F35; // 查看作答， 错误答案字体/边框的颜色
    --color6: #FFF6F6; // 查看作答， 错误答案的背景颜色
    --color7: #ff6158; // 预览试卷时，开始作答颜色
}